* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    background: wheat;
}

.topbar {
    height: 60px;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 2px solid wheat;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.logo img {
    width: 32px;
    height: 32px;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* ===== Layout ===== */
.container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 220px;
    background: #122334;
    padding: 20px;
    color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.sidebar li:hover,
.sidebar .active {
    background: #1e3a56;
}

/* Sidebar links */
.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

/* Hover & active link */
.sidebar li:hover a,
.sidebar .active a {
    color: white;
}


.menu-title {
    margin-top: 15px;
    font-weight: bold;
    color: wheat;
}

.submenu {
    margin-left: 15px;
}

.submenu li {
    font-size: 14px;
    padding: 8px;
}

.content {
    flex: 1;
    padding: 30px;
}

.content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    color: #333;
}
/* ===== Register Patient Form ===== */
.content h2 {
    margin-bottom: 20px;
    color: #122334;
}

table {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

table td {
    padding: 8px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 250px;
    padding: 6px;
    border: 1px solid #999;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background: darkslategrey;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #1e3a56;
}

.reschedule-btn {
    background-color: #e4db56;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.reschedule-btn:hover {
    background-color: #e4db56;
}

